exportPattern("[[:alpha:]]+")
importFrom("methods", "is")
importFrom("utils", "URLencode", "read.table")
importFrom("httr", "POST", "GET", "content", "PUT", "add_headers", "oauth_endpoint", "oauth_app", "oauth2.0_token")
